<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网站名称</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="../../js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../css/bootstrap.css"/>
    <script src="/js/bootstrap.js"></script>

    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../icon/iconfont.css">


    <script src="../../js/vue.min.js"></script>
    <link rel="stylesheet" href="/css/job_details.css"/>

</head>
<body>
<div class="wrap">
    <div class="header">
        <div class="container row">
            <a class="logo"></a>
            <ul class="nav col-lg-8">
                <li class="address">全国</li>
                <li class="nav_li current"><a class="nav_item">首页</a></li>
                <li class="nav_li"><a class="nav_item">我的简历</a></li>
                <li class="nav_li"><a class="nav_item">发布职位</a></li>
                <li class="nav_li"><a class="nav_item">2018校招</a></li>
                <li class="nav_li"><a class="nav_item">招聘社区</a></li>
            </ul>

            <ul class="clear_fix col-lg-2  " th:unless="${user!= null}">
                <li><a class="clear_fix_item login" href="user/user_login">登录</a></li>
                <li><a class="clear_fix_item register" href="user/register">注册</a></li>
            </ul>

            <ul class="clear_fix col-lg-2 " th:if="${user!=null}">
                <li><img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3803332007,2672307128&fm=58" alt="" class="img-circle" style="width: 48px;height: 48px"></li>
                <li>


                    <div class="dropdown">
                        <a id="dLabel"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <h6 th:text="${user.getName()}"></h6>
                            <span class="caret"></span>
                        </a>


                        <ul class="dropdown-menu" aria-labelledby="dLabel" th:if="${type=='user'}">
                            <li><a href="user/usercenter">个人中心</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="user/logout">注销</a></li>
                        </ul>

                        <ul class="dropdown-menu" aria-labelledby="dLabel" th:if="${type=='hr'}">
                            <li><a href="user/usercenter">个人中心</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="user/usermanagecenter">管理中心</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="user/logout">注销</a></li>
                        </ul>
                    </div>

                </li>
            </ul>
        </div>
    </div>



    <hr class="no-bottom">


    <div class="details_content">
        <div class="job-header-content ">
            <div class="job-header">
                <div class="job-name">
                    实习新闻编辑
                </div>
                <div class="job-request">
                    <p>
                        <span class="salary">15K-30K</span>
                        <span>/深证</span>
                        <span>/大专及以上/</span>
                        <span>全职</span>
                    </p>
                    <ul class="position-label">
                        <li class="job-label">软件开发</li>
                        <li class="job-label">系统架构</li>
                        <li class="job-label">Java</li>
                    </ul>
                    <p class="publish_time">1天前 发布于浙江招聘</p>
                </div>
                <div class="position-content-r">
                    <div class="position-deal">
                        <div class="collection">
                            <a class="">收藏</a>
                        </div>
                        <div class="deliver">
                            <a class="">投递</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail container">
        <div class="content_l">
            <div class="job_detail">
                <h4>职位诱惑：</h4><br />
                五险一金,节日福利,员工旅游,定期体检<br />
                职位描述：<br />
                <br />
                <h4>岗位职责：</h4><br />
                1、根据项目方案和用户需求，进行项目需求分析，以及研发设计工作；<br />
                2、负责用户和业务系统的设计与实现；<br />
                3、负责新系统的技术调研。<br />

                <h4>任职要求：</h4><br />
                1、计算机相关专业，本科以上学历；<br />
                2、5年以上java开发经验，有金融类项目、电商类项目经验者优先；<br />
                3、熟练掌握Java、JSP、JavaScript、Html、CSS、XML等开发技术，精通Struts、Spring、Hibernate、 SpringMVC等开发框架；<br />
                4.、熟悉数据库概念和技术，熟悉MySQL；<br />
                5、具有良好的团队协作精神，以及较强的分析、学习和创新能力；<br />
                6、具有高度责任心，工作态度认真，严谨踏实，积极主动，能在较大的压力下保持良好的工作状态。<br />

                <h4>福利待遇:</h4><br />
                <br />
                1、五险一金；<br />
                <br />
                2、上班时间：8：30-12:00,13:30-17:30，国家法定节假日<br />
                <br />
                3、生日福利卡；<br />
                <br />
                4、定期的员工活动，聚餐旅游等；<br />
                <br />
                5、扁平化管理，为员工提供公平公正公开的晋升渠道；<br />
                <br />
                <h4>工作地址</h4><br />
                <br />
                济南 - 市中区 - 杆石桥 - 经四路万达广场C座16层<br />
                <br />
                <div class="job_publisher">

                </div>
            </div>
            <div class="interview_experience ">
                <div class="review_anchor">职位评价</div>
                <div class="review-area">

                    <div class="list-empty">
                       <i></i> 该职位尚未收到面试评价
                    </div>
                    <div class="list-notempty container">
                        <div class="row review">
                            <div class="uid">用户名</div>
                            <div class="ustar">用户评分</div>
                            <div class="ucomment">用户评价</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="content_r">

            这里是右边部分
        </div>
    </div>
</div>

</body>
</html>